In [3]:
import pandas as pd

In [4]:
pd.read_csv('https://lincolnshire.ckan.io/dataset/24849e1d-7c5a-46dd-a07b-ee1e308b03fb/resource/3055e89d-13fb-464f-94f0-5ed0a287ead2/download/metadata_co2emissions.csv')

,Dataset ID,Dataset Name,Field,Type,Mandatory or Optional requirement (MOR),Field Description,Schema,LCC Mapping,Schema Comments,Schema Data Rules Comment,FormatReference,Example
0,8,CO2 Emissions,Organisation Name,String,Optional,Name of the organisation that is the asset own...,LGA,NaN,NaN,Name of the Organisation's area coverage. Woul...,Name of the Organisation's area coverage.,Lincolnshire
1,8,CO2 Emissions,Organisation Code,String,Optional,A unique code to identify the asset owning/usi...,LGA,NaN,NaN,NaN,http://opendatacommunities.org/def/concept/fol...,Lincolnshire County Council: http://opendatac...
2,8,CO2 Emissions,Published Date,DateTime,Optional,Date at which the information provided is true.,LGA,NaN,NaN,Include this field to show the publication dat...,https://www.w3.org/TR/NOTE-datetime,YYYY-MM-DDThh:mm:ss eg: 2017-02-15T00:00:00
3,8,CO2 Emissions,Latest Data,Boolean,Optional,TRUE where the data is the latest for the indi...,LCC,NaN,NaN,NaN,NaN,TRUE
4,8,CO2 Emissions,Duration From,DateTime,Optional,"Dataset time period start, or start of account...",LGA,NaN,NaN,"Dataset time period start, or start of account...",http://calendars.wikia.com/wiki/ISO_8601,YYYY-MM-DDThh:mm:ss eg: 2017-04-01T00:00:00
5,8,CO2 Emissions,Duration To,DateTime,Optional,"Dataset time period end, or end of accounting/...",LGA,NaN,NaN,"Dataset time period end, or end of accounting/...",http://calendars.wikia.com/wiki/ISO_8601,YYYY-MM-DDThh:mm:ss eg: 2017-06-30T23:59:59
6,8,CO2 Emissions,Reporting Period Type,String,Mandatory,The type of time period the data record covers...,LCC,NaN,NaN,The type of time period the data record covers...,NaN,"eg. Financial Year, Calendar Year, Month, Quarter"
7,8,CO2 Emissions,Geo Entity Name,String,Optional,Type of geographic area,LCC,NaN,NaN,NaN,http://statistics.data.gov.uk/areas,County
8,8,CO2 Emissions,Geo Code,String,Optional,ONS geography identifier for the geography in ...,LCC,NaN,NaN,NaN,http://statistics.data.gov.uk/areas,E10000019
9,8,CO2 Emissions,Geo Name,String,Optional,ONS geography name for the geography in which ...,LCC,NaN,NaN,NaN,http://statistics.data.gov.uk/areas,Lincolnshire
10,8,CO2 Emissions,Geo URI,String,Optional,ONS geography linked data URI for the geograph...,LCC,NaN,NaN,NaN,http://statistics.data.gov.uk/areas,http://statistics.data.gov.uk/doc/statistical-...
11,8,CO2 Emissions,Year,DateTime,Mandatory,Year,LGA,NaN,NaN,NaN,http://calendars.wikia.com/wiki/ISO_8601,"1994, or 2017"
12,8,CO2 Emissions,CO2 Emissions Tonnes Per Person,Number,Mandatory,Total CO2 Emissions (tonnes) per Person per Year,LCC,NaN,NaN,1 Decimal Place,NaN,NaN